.custom-header {
  background-color: #926c5f; /* Cambia el color de fondo del encabezado a tu preferencia */
  color: #ffffff; /* Cambia el color del texto del título a tu preferencia */
}

.custom-modal {
  background-color: #f0f0f0; /* Cambia el color de fondo del encabezado a tu preferencia */
}

.btn-close{
  background-color: #ffffff;
}
