<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center row">
      <div class=" col-md-6">
              <img [src]="errorIMG" alt="" class="img-fluid" alt="..." width="300px" />
      </div>
      <div class=" col-md-6 mt-5">
          <p class="fs-3"> <span class="text-warning">Opps!</span> Página no encontrada.</p>
          <p class="lead">
            La página que buscas no existe.
          </p>
          <a class="btn btn-dark" (click)="volver()"> Regresar </a>
      </div>

  </div>
</div>

